<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
	id="WebApp_ID" version="6.0">
	<display-name>06-jsp</display-name>

	<!-- JSTL library add -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
		</jsp-property-group>
	</jsp-config>


	<!-- servlet mapping -->
	<servlet>
		<servlet-name>Profile</servlet-name>
		<servlet-class>com.filter.ProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Profile</servlet-name>
		<url-pattern>/filter/ProfileServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>order</servlet-name>
		<servlet-class>com.filter.OrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>order</servlet-name>
		<url-pattern>/filter/OrderServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>login</servlet-name>
		<servlet-class>com.app.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>login</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>




	<!-- filter declaration -->
	<filter>
		<filter-name>filter1</filter-name>
		<filter-class>com.filter.MyFilter</filter-class>
	</filter>
	<!-- filter mapping -->
	<filter-mapping>
		<filter-name>filter1</filter-name>
		<url-pattern>/filter/ProfileServlet</url-pattern>
		<url-pattern>/filter/OrderServlet</url-pattern>
	</filter-mapping>


	<filter>
		<filter-name>loginfilter</filter-name>
		<filter-class>com.login.UserAuth</filter-class>
	</filter>
	<!-- filter mapping -->
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/app/LoginServlet.java</url-pattern>
	
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
</web-app>